/*background*/
section:nth-of-type(2n) {
    background-color: #FDF8F4;
}

h1,
h2 {
    color: #907c71;
}

p {
    color: black;
}

.hero {
    background-image: url('../images/ben.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 4rem;
}



.bottom-border {
    background-color: white;
    height: 0.5rem;
}

.herotitle,
.herotext {
    color: white;
}

.herotitle {
    color: white;
}

.showcaseButton {
    color: black;
    border: none;
    background-color: white;
}

.showcaseButton:focus {
    background-color: white;
    color: #907c71;
    box-shadow: 0 0.375rem 0 #907c71;
}


/* Animatie vogel */
#Vogel {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

/* Animatie stoomwolkje van kopje */
#Stoomwolkje {
    animation: stoom 6s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes stoom {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(5px, 0px);
    }

    85% {
        transform: translate(-5px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

/* Scherm glans animatie */
.cls-10 {
    animation: glans 3s ease-in-out infinite;
}


@keyframes glans {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

