/*background*/
section:nth-of-type(2n) {
    background-color: #F7F6F8;
}

h1,
h2 {
    color: #65466C;
}

p {
    color: black;
}

a{
    color: #65466C;
    font-weight: 600;
}

.hero {
    background-image: url('../images/kaylee.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 4rem;
}

.bottom-border {
    background-color: white;
    height: 0.5rem;
}

.herotitle,
.herotext {
    color: white;
}

.herotitle {
    color: white;
}

.showcaseButton {
    color: black;
    border: none;
    background-color: white;
}

.showcaseButton:focus {
    background-color: white;
    color: #65466C;
    box-shadow: 0 0.375rem 0 #65466C;
    font-weight: 600;
}

/* Nav */
li:hover {
    background-color: #65466C;
    color: white;
}

/* Neon effect animatie */
#Neon_lamp:hover {
    animation: glans 1s ease-in-out infinite;
}


@keyframes glans {
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }

}

/* Sims crystal */
#Sims_kristal {
    animation: turn 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes turn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* Blender rotatie */
.blender-object {
    animation: turn 10s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    
}

#Poot_Oranje{
    animation: rotate 5s infinite linear; 
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotateY(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}