/*background*/
section:nth-of-type(2n) {
    background-color: #FDF8F4;
}

h1,
h2 {
    color: #f1d0b7;
}

p {
    color: #383F46;
}

a{
    color: #f1d0b7;
    font-weight: 600;
}

.hero {
    background-image: url('../images/manouk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 4rem;
}

.bottom-border {
    background-color: white;
    height: 0.5rem;
}

.herotitle,
.herotext {
    color: white;
}

.herotitle {
    color: white;
}

.showcaseButton {
    color: black;
    border: none;
    background-color: white;
}

.showcaseButton:focus {
    background-color: white;
    color: #f1d0b7;
    box-shadow: 0 0.375rem 0 #f1d0b7;
}

/* Vlam animatiw */

#Vlam_Kaars {
    animation: move 2s ease-in-out infinite;
    transform-origin: center;
    animation-direction: alternate;
    transform-box: fill-box;

}

@keyframes move {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(10deg);
    }
}

/* Flits animatie */

#Flits {
    animation: flits 3s ease-in-out infinite;
}


@keyframes flits {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}